.header {
  background-color: var(--primary);
  color: #fff;
  padding: 50px 150px;
  position: relative;

  p {
    margin-bottom: 30px;
  }

  &__btn {
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 20px;
  }
}